<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org:">
	<head th:fragment="header">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/jpg" th:href="@{/images/msu_shield.jpg}" />
		<title>KY POTA Contest</title>
	</head>
	<body>
		
	</body>
</html>