<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	<head></head>
	<body>
		<div layout:fragment="content">
			<h2 >KY POTA Contest Error</h2>
	
			<div th:if="${message}">
				<h2 th:text="${message}"/>
			</div>
			
			<table>
			    <tr>
			        <td>Date</td>
			        <td th:text="${timestamp}"/>
			    </tr>
			    <tr>
			        <td>Path</td>
			        <td th:text="${path}"/>
			    </tr>
			    <tr>
			        <td>Error</td>
			        <td th:text="${error}"/>
			    </tr>
			    <tr>
			        <td>Status</td>
			        <td th:text="${status}"/>
			    </tr>
			    <tr>
			        <td>Message</td>
			        <td th:text="${message}"/>
			    </tr>
			    <tr>
			        <td>Exception</td>
			        <td th:text="${exception}"/>
			    </tr>
			    <tr>
			        <td>Trace</td>
			        <td>
			            <pre th:text="${trace}"/>
			        </td>
			    </tr>
			</table>

        

        </div>
	</body>
</html>