<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	<head></head>
	<body>
		<div layout:fragment="content">
			<h2 >KY POTA Contest Home</h2>
	
			<div th:if="${message}">
				<h2 th:text="${message}"/>
			</div>
	
			<div class="card bg-light text-dark">
				<div class="card-body">
					<h3>Kentucky Parks on the Air</h3>
					<p>
						First annual KYPOTA will be this year on August 29 2020, and will operate from 1400 UTC to 2200 UTC (9 am -5 pm CDT).  
						This will be our first annual contest for KYPOTA, but we hope to see it grow over the years to come.  
						This event is sponsored by the Murray State - Amateur Radio Club, and they will be operating some special Bonus stations from some local parks.  
						<br><br>
						Please see the <a target="_blank" href="https://k4msu.files.wordpress.com/2019/12/kypota-rules-12-06-2019.pdf">Contest Rules</a> for a list of valid parks, and other rules.
						<br><br>
						If you have any questions please contact us at <a href='mailto:KYPOTA@murray-ky.net'>KYPOTA@murray-ky.net</a>

					</p>
				</div>
			</div>
        

        </div>
	</body>
</html>